body {
	padding: 50px;
	font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #212121;
}

.entry__link {
	color: #2196F3 ;
}

.entry__link:hover {
	color: #1E88E5;
}

.entry__delete {
	margin-left: 15px;
	cursor: pointer;
	color: #F44336;
}

.entry-adder__input {
	display: block;
	float: left;
	padding-left: 1em;
	height: 30px;
	border: 0;
	font-size: 18px;
	background-color: #E0E0E0;
	outline: 0;
}

.entry-adder__button {
	display: block;
	box-sizing: content-box;
	height: 30px;
	width: 30px;
	border: 0;
	background-color: #BDBDBD;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	color: #616161;
	outline: 0;
}

.entry-adder__button:active {
	background-color: #9E9E9E;
}

.entry-adder:after {
	clear: both;
}

@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello-f0f54b19/font/fontello.eot?22625122');
	src: url('../fonts/fontello-f0f54b19/font/fontello.eot?22625122#iefix') format('embedded-opentype'),
	url('../fonts/fontello-f0f54b19/font/fontello.woff?22625122') format('woff'),
	url('../fonts/fontello-f0f54b19/font/fontello.ttf?22625122') format('truetype'),
	url('../fonts/fontello-f0f54b19/font/fontello.svg?22625122#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
.fontello {
	font-family: 'fontello';
}
